<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

      <h1>Hello, {{ title }}</h1>
      @if(photos(); as photos) {
        @for(photo of photos ; track photo.id) {
          <div class="gallery-item">
              <img style="object-fit: 'contain'" [ngSrc]="photo.url" alt="{{ photo.title }}" [priority]="$index === 0" fill sizes="100vw"/>

            <div class="overlay">
              <h3>{{ photo.title }}</h3>
            </div>
          </div>
        } @empty {
          <div>
            No photos to show
          </div>
        }
      } @else {
        <div>
          ...Loading
        </div>
      }
